# PostgreSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=echoverse_db

# Keycloak Admin Credentials
KEYCLOAK_ADMIN=your_keycloak_admin_user
KEYCLOAK_ADMIN_PASSWORD=your_keycloak_admin_password

KEYCLOAK_ADMIN_CLIENT_SECRET=change-me-after-first-boot

#connect kc ro postgres
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres.echoverse.svc:5432/keycloak
KC_DB_USERNAME=keycloak_user
KC_DB_PASSWORD=keycloak-user-password
